@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;600;900&display=swap");

#root {
  font-family: "Playfair", serif;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
